<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>{% block title %}{% endblock %} - phenix</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" />
    <link href="{{ url_for('static', filename='css/doc.css') }}" rel="stylesheet">

    <style type="text/css">
    @charset "utf-8";
	body {
		font:14px/1.5 "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
	}
    </style>


    {% block layout_css %}{% endblock %}
  </head>
  <body>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
      {% for category, message in messages %}
        <li class="alert alert-{{ category }}" data-dismiss="alert">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

    {% block layout_header %}{% endblock %}

    <div class="container">
      <div class="main">
        <!--消息提醒-->
        <%= render partial: 'shared/flash',locals: { flash: flash }%>
      </div>
      <span class="blank50"></span>

    {% block layout_content %}
          {% block content %}{% endblock %}
    {% endblock %}
    </div>

		{% block layout_footer %}{% endblock %}


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/showdoc.js') }}"></script>
    {% block layout_js %}{% endblock %}
		<script type="text/javascript">
		<!--
		$(function(e){
    		{% block jquery %}{% endblock %}
		});
		//-->
		</script>

  </body>
</html>
